@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hãy kiểm tra <a href="https://gmail.com" target="_blank">email</a> để lấy lại mật khẩu
</p>
