@page "/request-confirm-email.html"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Yêu cầu xác thực email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vui lòng kiểm tra <a href="https://gmail.com" target="_blank">email</a> đã đăng ký để xác thực tài khoản
</p>

