@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được đặt lại. Hãy <a asp-page="./Login">bấm vào đây</a> để đăng nhập.
</p>
